<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/nav.ejs') %>

            <div class="about content">
                <h3>About me</h3>
                <p>I am student at local high school</p>
                <p>My hobby is jogging and MTB biking</p>
                <p>Learning to code</p>
                <p>Working in local company as software developer</p>
                <p>Every day Learning new skills</p>
                <p>Tara is my fav dog</p>
            </div>
    </body>


    <%- include('./partials/footer.ejs') %>

</html>